# Gunicorn Site systemd service file

[Unit]
Description=Gunicorn server for mysite-staging.example.com
After=nginx.service

[Service]
User=MYUSER
WorkingDirectory=/home/MYUSER/sites/mysite-staging.example.com/source
ExecStart=/home/MYUSER/sites/mysite-staging.example.com/virtualenv/bin/gunicorn \
                 --bind unix:/run/gunicorn-staging/mysite-staging.example.com.socket \
                 mysite.wsgi:application
Restart=on-failure
RuntimeDirectory=gunicorn-staging
RuntimeDirectoryMode=755
